body {
    background-image: url("../Pictures/wallpaper.png");
    text-align: center;
}

.top {
    background-color: white;
    height: 70%;
    overflow: hidden;
}

h1 {
    font-family: 'Times New Roman', serif;
    font-size: 35px;
    color: #A97155;
    padding-top: 10px;
    margin: 0;
}

header h4 {
    font-family: 'Helvetica', sans-serif;
    font-size: 25px;
    color: #A97155;
    padding-top: 5px;
    margin: 0;
}

.navbar {
    width: 500px;
    margin: 0 auto; /* Center the navbar */
    background-color: #E4D1B9;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar a {
    color: #A97155;
    margin: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.navbar a:hover {
    color: white;
}

.navbar li {
    float: left;
    margin-right: 50px;
}

article {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 60%; /* Adjust width as needed */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

article h2 {
    font-family: 'Georgia', serif;
    color: #7a4f3a;
    text-align: left;
}

article p {
    color: #7a4f3a;
    text-align: left;
    margin: 10px 0;
    font-size: 20px;
}

footer {
    background-color: #E4D1B9;
    color: #A97155;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}
