body {
    background-image: url("wallpaper.png");
    text-align: center;
    margin: 0;
}

.top {
    background-color: white;
    height: auto;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

h1 {
    font-family: "Times New Roman";
    font-size: 35px;
    color: #A97155;
    padding-top: 10px;
    padding-bottom: 0;
    margin: 0;
}

header h4 {
    font-family: Helvetica;
    font-size: 25px;
    color: #A97155;
    padding-top: 5px;
    padding-bottom: 4px;
    margin: 0;
}

#catpic {
    width: 150px;
    margin: 10px auto;
    display: block;
}

.navbar {
    width: 80%;
    max-width: 1200px;
    background-color: #E4D1B9;
    margin: 0 auto;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar a {
    color: #A97155;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.navbar a:hover {
    color: white;
}

.navbar a:active {
    color: #694431;
}

.navbar li {
    display: inline;
    margin-right: 50px;
}

section h2 {
    font-family: Georgia;
    color: #7a4f3a;
    margin: 20px 0;
}

section p {
    color: #7a4f3a;
    text-align: center;
    background: #E4D1B9;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 20px;
    width: 60%;
    overflow: hidden;
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 5px 5px;
}

.image-container {
    border: 2px solid #A97155;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: #f9f9f9;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}

.image-container img {
    width: 100%;
    max-width: 200px; 
    margin: 15px; 
    border-radius: 5px;
}

a {
    color: #A97155; 
    text-decoration: italic; 
}

a:hover {
    color: #D19A6A; 
    text-decoration: underline; 
}
